.b-1{
    display:flex;
    flex-direction: row;
    gap:10px;
    margin-top:10px;
}
.head-1{
   font-family:sans-serif; 
   display: flex;
   flex-direction:row;
   justify-content: center;
   color: white;
   
}
.same-1{
  margin-bottom: 60px;
  color:rgb(213, 215, 197);
}

.bg-1{
  background-color: black;
}
.div-3{
  font-family: sans-serif;
  margin-top:50px;
  margin-bottom: 40px;
}
.b-2{
  display: flex;
  flex-direction: row;
  gap:30px;
  justify-content: center;
  margin-bottom: 40px;
}
.bg-2{
  background-color: black;

}
.uni{
  color:white;
  font-family: Montserrat; 
  font-size: 15px;
  padding-top: 40px;
}
.uni-1{
  color:white;
  font-family: Montserrat; 
  font-size: 15px;
  padding-bottom: 30px;
}
.same-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.div-5{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding:10px;
  position: relative;
  font-family: sans-serif;
}
.icon{
  position: absolute;
  left:670px;
  top:979px;
  
}
.div-6{
display:flex;
flex-direction: row;
gap:20px;
margin-left: 200px;
margin-bottom: 60px;



}
.co-1{
border:1px solid rgb(163, 162, 160);
font-family:Montserrat ;
font-size: 15px;
color:rgb(96, 95, 93);
padding-top: 12px;
}
.co-2{
  border:1px solid  rgb(163, 162, 160);
  font-family:Montserrat ;
  font-size: 15px;
  color:rgb(96, 95, 93);
  padding-top: 12px;
  }
  .co-3{
    border:1px solid  rgb(163, 162, 160);
    font-family:Montserrat ;
    font-size: 15px;
    color:rgb(96, 95, 93);
    padding-top: 12px;
    }
    .li-1{
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      gap:10px;
     align-items: center;
    }
    .li-2{
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      gap:10px;
     align-items: center;
    }
    .footer{
      text-align: center;
      color:rgb(96, 95, 93);
      font-size: 20px;
      font-family: sans-serif;
      padding:10px;
    }
    .div-7{
      background-color: black;
    }
    .para-1{
      font-size:15px ;
      color:rgb(96, 95, 93);
      text-align: center;
      margin-bottom:8px ;
    }
    .img{
      margin-top: 100px;
      margin-left: 150px;
    
    }
    
